<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {%- seo -%}
    <link rel="shortcut icon" href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}" type="image/png"/>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Linux+Libertine:400,400i,700,700i/Open+Sans:400,400i,700,700i">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ "/assets/main.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" type="text/css" media="print" href="{{ "/assets/print.css" | prepend: site.baseurl }}" />
    {%- feed_meta -%}
    {%- include google-analytics.html -%}
</head>
