<header class="blog-header">
    {% if site.logo %}
        <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
        {% for item in site.data.navigation %}
            <a href="{{ item.path }}">{{item.title}}</a>
            {% unless forloop.last %}
                &nbsp;&nbsp;·&nbsp;&nbsp;
            {% endunless %}
        {% endfor %}
    </div>
</header>