---
layout: default
---

{% include teaser-image.html %}
{% include site-header.html %}

<main class="content" role="main">

    {{ content }}

    {% if site.tags.featured %}
    <h5 class="index-headline featured"><span>Featured</span></h5>

    <div class="container featured">
        {% for post in site.tags.featured %}
            {% include post-feed-item.html %}
        {% endfor %}
    </div>
    {% endif %}

    {% if site.tags.featured %}
    <h5 class="index-headline normal"><span>Regular</span></h5>
    {% endif %}

    <div class="cf frame">
        {% for post in paginator.posts %}
            {% include post-feed-item.html %}
        {% endfor %}
    </div>

    {%include pagination.html %}
</main>
