---
layout: default
---
{% assign author = site.authors | where: 'short_name', page.author | first %}

<main class="content" role="main">
    <article class="post">
        {% if page.image %}
        <div class="article-image">
            <div class="post-image-image"
                 style="background-image: url({% if page.image %}{{ page.image | prepend: site.baseurl }}{% endif %})">
            </div>
            <div class="post-image-image2"
                 style="background-image: url({% if page.image2 %}{{ page.image2 | prepend: site.baseurl }}{% endif %})">
            </div>
            <div class="post-meta">
                <h1 class="post-title">{{ page.title }}</h1>
                <div class="cf post-meta-text">
                    <div class="author-image">
                        {% avatar user=author.github size=30 %}
                    </div>
                    <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author.name }}</h4>
                    on <time datetime="{{ page.date | date: " %F %R " }}">{{ page.date | date_to_string }}</time>
                </div>
                <div style="text-align:center">
                    <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="noarticleimage">
            <div class="post-meta">
                <h1 class="post-title">{{ page.title }}</h1>
                <div class="cf post-meta-text">
                    <div class="author-image">
                        {% avatar user=author.github size=30 %}
                    </div>
                    <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author.name }}</h4>
                    on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        {% endif %}
        <section class="post-content">
            <div class="post-reading">
                <span class="post-reading-time"></span> read
            </div>
            <a name="topofpage"></a>
            {{content}}
        </section>
        <footer class="post-footer">
            <section class="share">
                {% for social in site.social %}
                    {% if social.share_url != null %}
                    <a class="icon-{{ social.icon }}"
                       href="{{ social.share_url }}{% if social.share_title %}{{ social.share_title }}{{page.title | cgi_escape}}{% endif %}{{ social.share_link }}{{site.url}}{{site.baseurl}}{{page.id}}"
                       onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
                        <i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
                    </a>
                    {% endif %}
                {% endfor %}
            </section>
        </footer>
        <div class="bottom-teaser cf">
            <div class="isLeft">
                {% include author-credit.html %}
            </div>
            <div class="isRight">
                {% include post-footer-right.html %}
            </div>
        </div>
        {% include disqus.html %}
    </article>
</main>
{% include article-footer.html %}
